a{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 42%;
    padding: 20px;
    border-radius: 10px;
    margin: 2px ;
    margin-bottom: 10px ;

    text-decoration: none;
    color: rgba(0,0,0, 0.9);
}

h2{
    color: rgba(0,0,0, 0.9);
    font-size: 25px;
    font-weight: bold;
}

ul{
    margin-top: 10px;
    font-size: 10px;
}

ul li{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    width: 50%;
    margin-bottom: 2px;
    border-radius: 10px;
    text-align: center;
}

section{
    width: 49%;
}

.centerImage{
    display: flex;
    justify-content: center;
    align-items: center;

}

.allListPokemon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

   
}